.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}

.posts {
  max-width: 720px;

  a {
    display: block;

    & + a {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
    }

    .postInformation {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      font-size: 0.875rem;
      color: var(--gray-300);

      div {
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.625rem;
        }

        time {
          margin-right: 1.5rem;
          display: flex;
          align-items: center;
        }
      }

    }

    strong {
      display: block;
      font-size: 1.75rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
    }

    p {
      font-size: 1.125rem;
      color: var(--gray-200);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }

    &:hover strong {
      color: var(--pink-500);
    }
  }
}
