.fallback {
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  .postInformation {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: var(--gray-300);

    div {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.625rem;
      }

      time, span {
        margin-right: 1.5rem;
      }

      time {
        display: flex;
        align-items: center;
      }
    }
  }


  .postContent {
    margin: 4rem 0;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-200);

    h2 {
      color: var(--white);
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 3rem;
      line-height: 3rem;
    }

    p, ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    &.previewContent {
      background: linear-gradient(var(--gray-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
